Repository gnu-octave/packages, pull requests merged in 2021-12, with the labels that each got.

#12 packages/statistics.yaml: release 1.4.3
  packages/statistics.yaml
Labels: New package

#13 Raspi Version 0.0.2
  packages/raspi.yaml
Labels: Update

#14 packages/ocl.yaml: release 1.2.0
  packages/ocl.yaml
Labels: package release

#16 packages/statistics-bootstrap.yaml: minor style fixes
  packages/statistics-bootstrap.yaml
Labels: enhancement

#18 packages/jupyter-notebook.yaml: update 1.2.0
  packages/jupyter-notebook.yaml
Labels: package release

#19 packages/io.yaml: update 2.6.4
  packages/io.yaml
Labels: package release
