Repository gnu-octave/packages, pull requests merged in 2022-06, with the labels that each got.

#108 Pr0m1th3as patch 1
  packages/csg-toolkit.yaml
Labels: new package

#110 Update csg-toolkit.yaml
  packages/csg-toolkit.yaml
Labels: enhancement

#119 update cfitsio to v0.0.3
  packages/cfitsio.yaml
Labels: package release

#121 packages/strings.yaml: release 1.3.0
  packages/strings.yaml
Labels: package release

#122 packages/dicom.yaml: release 0.5.0
  packages/dicom.yaml
Labels: package release

#123 Add mqtt.yaml
  packages/mqtt.yaml
Labels: new package
