Repository gnu-octave/packages, pull requests merged in 2023-05, with the labels that each got.

#276 ADD - pkg fileio
  packages/fileio.yaml
Labels: new package

#277 TYPO in fileio descriptor
  packages/fileio.yaml
Labels: documentation

#278 NEW - package: octave-pool
  packages/octave-pool.yaml
Labels: new package

#280 statistics-bootstrap-v5.2.0 release
  packages/statistics-bootstrap.yaml
Labels: package release

#281 statistics-bootstrap-v5.2.1 update
  packages/statistics-bootstrap.yaml
Labels: documentation, package release

#282 Update statistics-bootstrap.yaml
  packages/statistics-bootstrap.yaml
Labels: package release

#283 packages/splines.yaml: release 1.3.5
  packages/splines.yaml
Labels: package release

#284 packages/communications.yaml: release 1.2.5
  packages/communications.yaml
Labels: package release

#287 Update statistics-bootstrap.yaml
  packages/statistics-bootstrap.yaml
Labels: package release

#288 packages/communications.yaml: release 1.2.6
  packages/communications.yaml
Labels: package release

#289 Update statistics-bootstrap.yaml
  packages/statistics-bootstrap.yaml
Labels: package release

#290 Update statistics-bootstrap.yaml release 5.2.5
  packages/statistics-bootstrap.yaml
Labels: package release

#291 fda.yaml: link to v1.0.0 release
  packages/fda.yaml
Labels: enhancement

#292 packages/femoctave.yaml: release 2.0.13
  packages/femoctave.yaml
Labels: package release

#296 statistics-bootstrap release v5.2.6.yaml
  packages/statistics-bootstrap.yaml
Labels: package release

#298 packages/femoctave.yaml: release 2.0.16
  packages/femoctave.yaml
Labels: package release

#300 Update statistics-bootstrap version 5.2.7.yaml
  packages/statistics-bootstrap.yaml
Labels: package release
