Repository gnu-octave/packages, pull requests merged in 2024-01, with the labels that each got.

#375 Update statistics-resampling.yaml - release 5.5.2
  packages/statistics-resampling.yaml
Labels: package release

#376 Update statistics-resampling.yaml - version 5.5.3
  packages/statistics-resampling.yaml
Labels: package release

#377 Update statistics-resampling.yaml
  packages/statistics-resampling.yaml
Labels: documentation

#381 packages/octave-pool.yaml: release 1.2.0
  packages/octave-pool.yaml
Labels: package release

#383 Update statistics-resampling.yaml
  packages/statistics-resampling.yaml
Labels: package release

#385 packages/octave-pool.yaml: release 1.2.2
  packages/octave-pool.yaml
Labels: package release

#390 Update statistics-resampling.yaml
  packages/statistics-resampling.yaml
Labels: package release

#394 Add initial rtree.yaml
  packages/rtree.yaml
Labels: new package

#395 packages/rtree.yaml: fix icon
  packages/rtree.yaml
Labels: enhancement
