Repository gnu-octave/packages, pull requests merged in 2025-03, with the labels that each got.

#530 packages/femoctave.yaml: release 2.1.7
  packages/femoctave.yaml
Labels: package release

#532 Update image.yaml new version - 2.16.0
  packages/image.yaml
Labels: package release

#535 packages/jupyter-notebook.yaml: release 1.3.0
  packages/jupyter-notebook.yaml
Labels: package release

#536 packages/json.yaml: release 1.6.0
  packages/json.yaml
Labels: package release

#537 packages/femoctave.yaml: release 2.1.8
  packages/femoctave.yaml
Labels: package release

#539 Track Octave Forge package outliers
  packages/outliers.yaml
Labels: new package

#540 packages/outliers.yaml: use release tarball hosted on Octave Forge
  packages/outliers.yaml
Labels: enhancement
