Repository gnu-octave/packages, pull requests merged in 2025-04, with the labels that each got.

#542 Octave Coder 1.10.1 released
  packages/coder.yaml
Labels: package release

#538 Create package index as JSON data
  .github/workflows/main.yml
  CONTRIBUTING.md
  assets/ci/octave_ci.m
  assets/ci/validate_yaml.py
  assets/pkg-index
  assets/pkg-index.md
  doc/development.md
  packages/ltfat.yaml
  packages/prompt.yaml
Labels: enhancement

#564 release image-acquisition-0.3.3
  packages/image-acquisition.yaml
Labels: package release

#560 Skip deleted package files in CI.
  .github/workflows/main.yml
Labels: bug, enhancement
